@import url('colors.css');

/* Fonts */
@font-face {
  font-family: FiraCode;
  src: url("../fonts/FiraCodeNerdFont-Regular.ttf");
}

@font-face {
  font-family: FiraCode-Light;
  src: url("../fonts/FiraCodeNerdFont-Light.ttf");
}

/* Animations */
@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Elements */
a {
  text-decoration: none;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-weight: 300;
}

body {
  align-items: center;
  background-color: var(--background);
  color: var(--foreground);
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
}

main {
  animation-duration: 1s;
  animation-name: fade-in;
  font-family: FiraCode-Light, sans-serif;
  margin: auto;
  width: 100%;
  height: 60%;
}

hr {
  color: var(--color2);
}

/* Classes */
.search-flags {
  color: var(--color2);
  font-size: 14px;
  margin: 0;
  font-weight: normal;
}

.links-container {
  width: 100%;
}

.link-section {
  color: var(--color2);
  padding: 10px;
  overflow-y: auto;
}

.link-section-title {
  font-size: 14px;
  margin: 0;
  font-weight: normal;
}

.link-list {
  padding: 0;
}

.link-list-item {
  align-items: center;
  display: flex;
  height: 2em;
  justify-content: center;
  line-height: 2em;
  list-style-type: none;
  margin: 1vh 0 1vh 0;
  font-size: 12px;
  text-align: center;
  width: 100%;
}

.link-list-item:hover {
  background-color: var(--color2);
}

.link {
  color: var(--foreground);
  display: block;
  width: 100%;
  height: 100%;
}

/* IDs */
#search-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-end: 5;
  grid-column-start: 1;
  text-align: center;
  padding: 0 5vw 0 5vw;
  transition: 0.2s cubic-bezier(0.4, 0.0, 0.2, 1) 0.2s; 
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

#search-form {
  align-items: center;
  display: flex;
  justify-content: center;
}

#search-bar-wrapper {
  display: inline-block;
  position: relative;
  width: 100%;
}

#search-bar {
  background-color: var(--background);
  border-style: none;
  box-sizing: border-box;
  color: var(--foreground);
  font-family: FiraCode;
  font-size: 14px;
  height: 25px;
  padding: 0 25px 0 0;
  text-align: center;
  width: 100%;
}

#search-hr {
  transition: 0.2s; 
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

#search-hr.input-active {
  color: var(--color3);
  transition: 0.2s; 
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}


#search-bar:focus {
  outline: none;
}

#search-bar:focus::placeholder {
  color: transparent;
}

#search-options {
  max-height: 0px;
  opacity: 0;
  overflow: hidden;
  transition: 0.2s cubic-bezier(0.4, 0.0, 0.2, 1) 0.2s; 
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  margin: 0px 40% 10px 40%;
}

#search-options.input-active {
  max-height: 999px;
  opacity: 1;
  transition: 0.2s cubic-bezier(0.4, 0.0, 0.2, 1) 0.2s; 
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

#search-options ul {
  padding: 0px;
}

#search-options li {
  color: var(--foreground);
  font-size: 12px;
  padding: 4px 0px 4px 0px;
  overflow: hidden;
  height: auto;
}

#search-options span {
  color: var(--color10);
  padding: 10px;
  margin-right: 10px;
  width: 100px;
}

#links-container {
  column-gap: 0vw;
  display: grid;
  grid-column-gap: 0vw;
  grid-row-gap: 5vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-content: center;
  padding: 2vh 5vw 2vh 5vw;
  row-gap: 5vh;
  max-height: 999px;
  opacity: 1;
  transition: 0.2s cubic-bezier(0.4, 0.0, 0.2, 1) 0.2s; 
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

#links-container.input-active {
  max-height: 0px;
  opacity: 0;
  transition: 0.2s cubic-bezier(0.4, 0.0, 0.2, 1) 0.2s; 
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

/* Media Queries */
@media only screen and (min-width: 600px) {

  #links-container {
    column-gap: 3vw;
    grid-column-gap: 3vw;
    grid-row-gap: 5vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 5vh;
  }

}

@media only screen and (min-width: 768px) {

  #links-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

}

@media only screen and (min-width: 1200px) {

  #search-wrapper {
    padding: 0 15vw 0 15vw;
  }

  #links-container {
    padding: 2vh 15vw 2vh 15vw;
  }

}
