@import url('colors.css');

/* Fonts */
@font-face {
  font-family: FiraCode;
  src: url("../fonts/FiraCodeNerdFont-Regular.ttf");
}

@font-face {
  font-family: FiraCode-Light;
  src: url("../fonts/FiraCodeNerdFont-Light.ttf");
}

/* Animations */
@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Elements */
a {
  text-decoration: none;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-weight: 300;
}

body {
  align-items: center;
  background-color: var(--background);
  color: var(--foreground);
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
}

main {
  animation-duration: 1s;
  animation-name: fade-in;
  font-family: FiraCode-Light, sans-serif;
  margin: auto;
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

hr {
  color: var(--color2);
}

/* Classes */
.search-flags {
  color: var(--color2);
  font-size: 14px;
  margin: 0;
  font-weight: normal;
}

.links-container {
  width: 100%;
}

.link-section {
  color: var(--color1);
  overflow-y: auto;
}

.link-section-title {
  font-size: 14px;
  margin: 0;
  font-weight: normal;
  text-align: center;
}

.link-list {
  padding: 0;
}

.link-list-item {
  align-items: center;
  display: flex;
  height: 2em;
  justify-content: center;
  line-height: 2em;
  list-style-type: none;
  margin: 1vh 0 1vh 0;
  font-size: 12px;
  text-align: center;
  width: 100%;
}

.link-list-item:hover {
  background-color: var(--color2);
}

.link {
  color: var(--foreground);
  display: block;
  width: 100%;
  height: 100%;
}

/* IDs */
#panel {
    border-radius: 5px 0 0 5px;
    width: 1000px;
    height: 350px;
    min-height: 350px;
    border-right: solid 2px var(--color3);
    background: url("../img/EGWh-DFUUAA2KIz.jpg");
    background-size: 275px;
    background-position: left;
    background-repeat: no-repeat;
}

#content-wrapper {
    right: 0;
    width: 75%;
    height: 100%;
    float: right;
    background-color: var(--background);
}

#search-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-end: 5;
  grid-column-start: 1;
  text-align: center;
  padding: 20px 20px 0px 20px;
  transition: 0.2s cubic-bezier(0.4, 0.0, 0.2, 1) 0.2s; 
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

#search-form {
  align-items: center;
  display: flex;
  justify-content: center;
}

#search-bar-wrapper {
  display: inline-block;
  position: relative;
  width: 100%;
}

#search-bar {
  background-color: var(--background);
  border-style: none;
  box-sizing: border-box;
  color: var(--foreground);
  font-family: FiraCode;
  font-size: 14px;
  height: 25px;
  padding: 0 25px 0 0;
  text-align: center;
  width: 100%;
}

#search-hr {
  transition: 0.2s; 
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

#search-hr.input-active {
  color: var(--color3);
  transition: 0.2s; 
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}


#search-bar:focus {
  outline: none;
}

#search-bar:focus::placeholder {
  color: transparent;
}

#search-options {
  max-height: 0px;
  opacity: 0;
  overflow: hidden;
  transition: 0.2s cubic-bezier(0.4, 0.0, 0.2, 1) 0.2s; 
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

#search-options.input-active {
  max-height: 999px;
  opacity: 1;
  transition: 0.2s cubic-bezier(0.4, 0.0, 0.2, 1) 0.2s; 
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

#search-options ul {
  display: inline-block;
  width: max-content;
  text-align: left;
  padding: 0px 20px 0px 20px;
}

#search-options li {
  color: var(--foreground);
  font-size: 12px;
  padding: 4px 0px 4px 0px;
  overflow: hidden;
  height: auto;
}

#search-options span {
  color: var(--color1);
  padding: 10px;
  margin-right: 10px;
  width: 100px;
}

#links-container {
  column-gap: 0vw;
  display: grid;
  grid-column-gap: 0vw;
  grid-row-gap: 5vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  padding: 30px 10px 0px 10px;
  row-gap: 5vh;
  max-height: 999px;
  opacity: 1;
  transition: 0.2s cubic-bezier(0.4, 0.0, 0.2, 1) 0.2s; 
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

#links-container.input-active {
  max-height: 0px;
  opacity: 0;
  transition: 0.2s cubic-bezier(0.4, 0.0, 0.2, 1) 0.2s; 
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
